* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: aliceblue;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

form {
  width: 50%; min-width: 300px; max-width: 500px;
  background-color: lightgreen;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  font-size: larger;
  gap: 10px;
  padding: 20px;
  margin-top: 20px;
}
form input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
}
form button {
  width: 90%;
  margin-top: 10px;
  padding: 20px;
  border-radius: 5px;
  border: none;
  background-color: green;
  cursor: pointer;
  font-weight: bold;
  font-size: larger;
  color: white;
}
form button:hover {
  background-color: darkgreen;
}

#library {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 1fr;
  gap: 10px;
  padding: 20px;
}

.book-card {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 5px;
  background-color: lightgreen;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 10px;
}
.book-card :nth-child(1) {
  font-weight: bold;
  text-align: center;
}
.book-card .card-buttons {
  display: flex;
  justify-content: space-around;
}
.book-card button {
  width: 40%;
  padding: 5px;
  margin-top: 5px;
  border-radius: 5px;
  border: none;
  background-color: coral;
  cursor: pointer;
  font-weight: bold;
  font-size: medium;
  color: white;
}